/* -----------------------------------CSS Variables----------------------------------- */
:root {
    --bg-body: #2C2C1A;
    --bg-banner-nav: #33331D;
    --bg-accent: #FDF2B0;
    --bg-content: #383821;
    --text-main: #E0E0E0;
    --text-banner: #111010;
    --text-highlight: #FFE66D;
    --box-shadow: #6D6D44;
}

/* -----------------------------------Global Styles styles----------------------------------- */

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-body);
    color: var(--text-main);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-banner {
    background-color: var(--bg-banner-nav);
    height: 120px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-updates {
    background-color: var(--bg-accent);
    color: var(--text-banner);
    height: 85px;
    top: 120px;
    left: 0;
    width: 100%;
    z-index: 9;
    overflow: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 205px auto 0;
    padding: 20px;
    background-color: var(--bg-content);
    box-sizing: border-box;
    color: var(--text-main);
    flex: 1;
    overflow-y: auto;
}

/* -----------------------------------Typography styles----------------------------------- */
h1, h2, p {
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--text-main);
    margin-top: 0;
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3;
    color: var(--text-main);
    margin-top: 2rem;
}

p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    margin-right: 5rem;
    margin-left: 5rem;
}

/* -----------------------------------Mobile styles----------------------------------- */
@media screen and (max-width: 640px) {
    .site-navigation {
        display: none;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
        position: fixed;
        z-index: 200;
        top: 40px;
        left: 20px;
        transform: rotate(0deg);
        transition: transform 0.3s ease-in-out;
    }

    .hamburger-menu.active {
        transform: rotate(90deg);
    }

    .hamburger-menu span {
        display: block;
        height: 4px;
        width: 40px;
        background-color: var(--text-main);
        margin: 8px;
    }

    .mobile-navigation {
        z-index: 150;
        left: -300px;
        top: 0;
        padding-top: 100px;
        transition: transform 0.3s ease-in-out;
        position: fixed;
        background-color: var(--bg-banner-nav);
        width: 300px;
        height: 100%;
        box-shadow: 1px 0 1px var(--box-shadow);
        display: flex;
        flex-direction: column;
    }

    .mobile-navigation.active {
        transform: translateX(100%);
    }

    .mobile-navigation a {
        text-decoration: none;
        color: var(--text-main);
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 15px 0 15px 20px;
    }

    .mobile-navigation a:hover {
        color: var(--text-highlight);
        font-weight: bold;
    }

    .mobile-dropdown {
        position: relative;
        padding: 15px 0;
        width: 100%;
    }

    .mobile-dropdown-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
        padding-left: 10px;
    }

    .mobile-dropdown.active .mobile-dropdown-content {
        max-height: 500px;
        padding-top: 15px;
    }

    .mobile-dropdown-content a {
        text-decoration: none;
        color: var(--text-main);
        display: block;
    }

    .mobile-dropdown-content a:hover {
        color: var(--text-highlight);
        font-weight: bold;
    }
}

/*-----------------------------------Desktop styles-----------------------------------*/
@media screen and (min-width: 641px) {
    .mobile-navigation {
        display: none;
    }

    .site-navigation {
        display: flex;
        gap: 20px;
        font-weight: bold;
    }

    .dropdown {
        position: relative;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--bg-banner-nav);
        min-width: 160px;
        z-index: 20;
        box-shadow: 0 8px 16px var(--box-shadow);
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .site-navigation a,
    .dropdown-content a {
        text-decoration: none;
        padding: 10px 15px;
        color: var(--text-main);
        display: block;
    }

    .dropdown-content a:hover,
    .site-navigation a:hover {
        color: var(--text-highlight);
    }
}