/*----------------------------Stylesheet for the basket sidebar-----------------------------*/

/* Note 05/10/2024 I really wish I had called this a basket instead of a cart in all my variables but it's way too late to change it now */

/* Popup notification when items are added to the cart */

#notification-container {
    position: fixed;
    top: 150px; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust positioning */
    z-index: 999;
}

.notification {
    background-color: var(--button-main); 
    color: var(--text-main);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    transition: opacity 0.5s ease; 
    opacity: 0;
    position: relative; 
}

/* Overall cart container */
#cart {
    max-width: 400px;
    margin-top: 0px;
    margin-bottom: 150px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Individual cart items */
.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
}

/* Completely forgotten what this bit does, think it was to try and fix alignment issues */
.cart-item::before,
.cart-item::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(to right, transparent, var(--text-highlight), transparent);
}
.cart-item::before {
    top: 0;
}
.cart-item::after {
    bottom: 0;
}
.cart-item:last-child::after {
    display: none;
}

/* Cart image fixed to size */
.cart-item-image {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    margin-right: 15px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--text-highlight);
}
.cart-item-image img {
    width: 100%;           
    height: 100%;          
    object-fit: cover;
}

/* Item name */
.cart-item-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100px;
    align-items: center; 
    text-align: center;
}

.cart-item-name {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-main);
    margin-bottom: 5px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* Item Price */
.cart-item-price-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
}

.cart-item-price {
    font-size: 16px;
    color: var(--text-highlight);
    font-weight: 500;
}

/* Container for the remove button */
.cart-item-remove {
    display: flex;
    justify-content: flex-start;
}

/* The remove button */
.button-remove {
    font-size: 12px;
    padding: 3px 8px;
    background-color: var(--text-highlight);
    color: var(--text-main);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.button-remove:hover {
    background-color: var(--button-hover); 
}

.button-remove:active {
    background-color: var(--button-main); 
    box-shadow: 0 1px 3px var(--box-shadow);
}

/* Small icon for item quantity */
.cart-item-quantity {
    background-color: var(--text-highlight);
    color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    position: absolute;
    top: 0px;
    right: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
} 

/* Icon for global basket quantity */
.basket-icon-quantity {
    z-index: 400;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 2px;
    left: 36px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--button-main); /* Matches your theme */
    color: white;
    font-size: 12px;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

/* Handling the basket quantity icon at desktop scales */
@media screen and (min-width: 1000px) {
    .basket-icon-quantity {
        top: 2px;
        left: 142px;
        height: 24px;
        width: 24px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px){
    .basket-icon-quantity {
        height: 24px;
        width: 24px;
        left: 80px;
        top: 30px;
    }
}

/* Small icon for removing all of an item */
.cart-item-removeall {
    color: var(--text-error);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    position: absolute;
    top: 1px;
    left: 1px;
    box-shadow: var(--box-shadow);
    border: none; /* Remove default button border */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.cart-item-removeall:hover {
    background-color: darkred; /* Darker shade on hover */
    transform: scale(1.1); /* Slightly increase size on hover */
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Add a subtle glow effect */
}

.cart-item-removeall:active {
    transform: scale(0.95); /* Slight shrink effect when clicked */
}

/* Cart total attributes - NB 05/10/24 this should move to the top of the cart */
.cart-total {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: var(--text-main);
}

.cart-total::before {
    color: var(--text-highlight);
}

.empty-cart-message {
    font-size: 16px;
    color: var(--text-main); 
    text-align: center; 
    margin-top: 20px; 
    font-weight: bold;
}